@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
    background: lightskyblue;
    margin: 24px;
}
.timer {
    font-family: sans-serif;
    display: inline-block;
    padding: 24px 32px;
    border-radius: 30px;
    background: #11999E;
}

.timer__part {
    font-size: 100px;
    font-weight: bolder;
}

.timer__btn {
    width: 70px;
    height: 70px;
    margin-left: 16px;
    border-radius: 50%;
    border: none;
    color: white;
    background: cornflowerblue;
    cursor: pointer;
}

.timer__btn--start {
    background: yellowgreen;
}

.timer__btn--stop {
    background: chocolate;
}

body {
    margin:0;
}

p {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size:14px;
    color: #7f27d4;
}

.header {
    position:relative;
    text-align:center;
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    color:white;
}

.inner-header {
    height:65vh;
    width:100%;
    margin: 0;
    padding: 0;
}
.bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 15px 10px;
    box-shadow: 0px -2px 12px rgba(0,0,0,0.1);
}

.bottom__container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.waves {
    position:relative;
    width: 100%;
    height:100vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:50px;
    max-height:300px;
}

.content {
    position:relative;
    height:50vh;
    text-align:center;
    background-color: #6e21bb;
}

/* Animation */

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% {
        transform: translate3d(85px,0,0);
    }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height:40px;
        min-height:40px;
    }
    .content {
        height:30vh;
    }
    h1 {
        font-size:24px;
    }
}
*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}

body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px 10px;
    color: #9040de;
    outline: none;
}

.btn:hover {
    border-color: blanchedalmond;
}

.btn.correct {
    --hue: var(--hue-correct);
    color: #8f3ce0;
}

.btn.wrong {
    --hue: var(--hue-wrong);
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}
